.rs{
	overflow: hidden !important;
	position: relative;

	.rs-container{
		overflow-y: scroll;
		position: absolute;
		top: 0px;
		left: 0px;
		right: -20px;
		bottom: 0px;
	}
	
	.rs-content{
		position: absolute;
		left: 0px;
		right: 2.667px; // fucking bizarre but it works. not sure why.
		padding: 18px;
	}

	.rs-scrollbar {
		position: absolute;
		right: 6px;
		top: 6px;
		bottom: 6px;
		background: transparent;
		width: 6px;
		border-radius: 3px;
		transition: background-color 0.5s;
		
		&:hover{
			cursor: pointer;
		}
	}

	.rs-handle{
		height: 100px;
		width: 6px;
		border-radius: 3px;
		background: transparent;
		transition: background-color 0.5s;
		min-height: 5%;
		
		&:hover{
			background: #777;
			background: rgba(0,0,0,0.55);
		}
		
	}

	&:hover{
		.rs-scrollbar{
			background: #ddd;
			background: rgba(0,0,0,0.15);
			
			.rs-handle:not(:hover){
				background: #aaa;
				background: rgba(0,0,0,0.35);
			}
		}
	}

	.rs-unselectable {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}